<?xml version="1.0"?>
<configuration>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="51200" requestValidationMode="2.0" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" targetFramework="4.5.2"/>
    <pages validateRequest="false"/>
    <authentication mode="Forms">
      <forms loginUrl="/member/login" timeout="180"/>
    </authentication>
    <membership defaultProvider="RetreatSqlMembershipProvider">
      <providers>
        <add name="RetreatSqlMembershipProvider" type="JsonSqlMembershipProvider" connectionStringName="RetreatConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="30" passwordFormat="Hashed" applicationName="/"/>
      </providers>
    </membership>   
    <roleManager defaultProvider="RetreatSqlRoleProvider" enabled="true">
      <providers>
        <add name="RetreatSqlRoleProvider" type="JsonSqlRoleProvider" connectionStringName="RetreatConnectionString" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ExternalSettingsFile" value="appsettings.json"/>
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="appsettings.json"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
